# --- MariaDB root ---
DB_ROOT_PASSWORD=CAMBIA_ESTA_ROOT

# --- Usuario de aplicación de Seafile ---
SEAFILE_DB_USER=seafile
SEAFILE_DB_PASS=CAMBIA_ESTA_APP

# --- Zona horaria y dominio público ---
TIMEZONE=America/Mexico_City
DOMAIN=tudominio.com

# --- Admin inicial de Seafile ---
SEAFILE_ADMIN_EMAIL=admin@tudominio.com
SEAFILE_ADMIN_PASSWORD=CAMBIA_ADMIN

# --- OnlyOffice JWT ---
ONLYOFFICE_JWT_SECRET=CAMBIA_SECRETO
